{% extends 'base.html' %}

{% block title %}Mis Notificaciones{% endblock %}

{% block content %}
<main>
    <div class="container" style="padding: 60px 0;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="mb-4">Mis Notificaciones</h2>
                <div class="list-group">
                    {% for notificacion in notificaciones %}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1">{{ notificacion.mensaje }}</p>
                                <small>{{ notificacion.fecha_creacion|timesince }} atrás</small>
                            </div>
                        </a>
                    {% empty %}
                        <div class="list-group-item">
                            <p class="mb-1">No tienes notificaciones.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}