{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.titulo }}{% endblock %}
{% block description %} {{post.contenido|truncatechars:150}} {% endblock %}
{% block content %}
<section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{{post.imagen.url}}" alt="post.titulo"> 
                     <!-- DEUDA TECNICA: set tam img -->
                  </div>
                  <div class="blog_details">
                     <h1>
                        {{post.titulo}}
                     </h1>
                     <ul class="blog-info-link mt-3 mb-4"> <!-- DEUDA TECNICA: add href, ver si queda bien la fecha y categoria de esta forma-->
                        <li><a href="#"><i class="fa fa-user"></i>{{post.autor.last_name}}, {{post.autor.first_name}}</a></li>
                        <li><a href="#"><i class="fa fa-calendar"></i>{{ post.fecha_publicacion|date:"d M, Y" }}</a></li> 
                        <li><a href="#"><i class="fa fa-tags"></i>{% for cat in categorias_post %}{{ cat.nombre }}{% if not forloop.last %}, {% endif %}{% endfor %}</a></li>
                        <li><a href="#"><i class="fa fa-comments"></i> {{ count_coment }} Comentario{% if count_coment != 1 %}s{% endif %}</a></li> <!--DEUDA TENICA: Agregar condicionales para esc comment sin la s cuando count_coment = 1 -->
                     </ul>
                     <div class="post-body">{{ post.contenido|safe }}</div>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <!-- <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                        people like this</p> Podemos agregar likes en el futuro-->
                     <!-- <div class="col-sm-4 text-center my-2 my-sm-0">
                        <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> {{ count_coment }} Comentario{% if count_coment != 1 %}s{% endif %}</p>
                     </div> -->
                     <!-- <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                     </ul> Deuda tecnica:Conectar las redes sociales -->
                  </div>
                  <div class="navigation-area"> <!-- DEUDA TECNICA: Determinar si filtrar por categoria y fecha_publicacion es el mejor criterio, un conviene simplificar y decir que 1 post tiene 1 sola categoria?-->
                     {% if prev_post %}
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="{% url 'noticias:post_detail' prev_post.id %}"> 
                                 <img class="img-fluid" width="60" height="60" src="{{prev_post.imagen.url}}" alt=""> <!-- DEUDA TECNICA: Limitar el tamaño de las imagenes 60x60-->
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="{% url 'noticias:post_detail' prev_post.id %}">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Anterior</p>
                              <a href="{% url 'noticias:post_detail' prev_post.id %}">
                                 <h4>{{prev_post.titulo}}</h4>
                              </a>
                           </div>
                        </div>
                        {% endif %}
                        {% if next_post %} <!--DEUDA TECNICA: Cuando no hay noticia anterior se ve mal-->
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Siguiente</p>
                              <a href="{% url 'noticias:post_detail' next_post.id %}">
                                 <h4>{{next_post.titulo}}</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="{% url 'noticias:post_detail' next_post.id %}">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="{% url 'noticias:post_detail' next_post.id %}">
                                 <img class="img-fluid" width="60" height="60"  src="{{next_post.imagen.url}}" alt="next_post.titulo"> <!-- DEUDA TECNICA: Limitar el tamaño de las imagenes 60x60-->
                              </a>
                           </div>
                        </div>
                        {% endif %}
                     </div>
                  </div>
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="{{perfil_autor.imagen_perfil.url}}" alt="{{post.autor.first_name}} {{post.autor.last_name}}"> <!-- DEUDA TECNICA: Si la img de perfil no es de dimensiones nxn se se estirada-->
                     <div class="media-body">
                        <a href="#">
                           <h4>{{post.autor.first_name}} {{post.autor.last_name}}</h4>
                        </a>
                        <p>{{perfil_autor.biografia}}</p>
                     </div>
                  </div>
               </div>
               <div class="comments-area">
                  <h4>{{ count_coment }} Comentario{% if count_coment != 1 %}s{% endif %}</h4>
                  {% for com in comentarios %}
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="{{com.usuario.perfil.imagen_perfil.url}}" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 {{com.texto}}
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="{% url 'apps.usuarios:perfil' com.usuario.perfil.id %}">{{com.usuario.username}}</a>
                                    </h5>
                                    <p class="date">{{ com.fecha_creacion|date:"d M, Y \a\t H:i" }}</p>
                                 </div>
                                 <!-- <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">reply</a>
                                 </div> DEUDA TECNICA: Implementar reply en proximas versiones-->
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %} <!-- DEUDA TECNICA: Podria agregar un if, si hay coms muestra el for normal, sino algun mensaje diciendo se el primero o algo asi..-->
               </div>
               <div class="comment-form">
                  <h4>Deja un comentario</h4>
                  {% if user.is_authenticated %}
                  <form class="form-contact comment_form" action="{% url 'noticias:post_detail' post.id %}" method="post" id="commentForm">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              {{ comentario_form.texto }}
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Publicar Comentario</button>
                     </div>
                  </form>
                  {% else %}
                  <div class="login-prompt">
                     <p>Debes <a href="{% url 'apps.usuarios:login' %}?next={{ request.path }}"><b>iniciar sesión</b></a> para poder comentar.</p>
                     <p>¿No tienes una cuenta? <a href="{% url 'apps.usuarios:registrar' %}"><b>Regístrate aquí</b></a>.</p>
                  </div>
                  {% endif %}

                  {% if messages %}
                  <ul class="messages" style="list-style: none; padding-top: 15px;">
                     {% for message in messages %}
                     <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                     {% endfor %}
                  </ul>
                  {% endif %}
                  </div>
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget search_widget">
                     <form action="#">
                        <div class="form-group">
                           <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder='Search Keyword'
                                 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                              <div class="input-group-append">
                                 <button class="btns" type="button"><i class="ti-search"></i></button>
                              </div>
                           </div>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Search</button>
                     </form>
                  </aside>
                  <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">Categorias</h4>
                     <ul class="list cat-list">
                        {% for cat in categorias %}
                        <li>
                           <a href="{% url 'noticias:posts_por_categoria' cat.id%}" class="d-flex">
                              <p>{{cat.nombre}}</p>
                              <p>({{ cat.posts.count }})</p>
                           </a>
                        </li>
                        {% endfor %}
                     </ul>
                  </aside>
                  <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Noticias Recientes</h3>
                     {% for post in posts_recientes %}
                     <div class="media post_item">
                        <img src="{{post.imagen.url}}" height="80" width="80" alt="post"> <!-- DEUDA TECNICA: se ven estiradas las imagenes que no son cuadradas-->
                        <div class="media-body">
                           <a href="{% url 'noticias:post_detail' post.id%}">
                              <h3>{{ post.titulo }}</h3>
                           </a>
                           <p>{{ post.fecha_publicacion|date:"d M, Y" }}</p>
                        </div>
                     </div>
                     {% endfor %}
                  </aside>
                  <!-- <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="#">
                        <div class="form-group">
                           <input type="email" class="form-control" onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Subscribe</button>
                     </form>
                  </aside> DEUDA TECNICA: Implementar newsletter V2-->
               </div>
            </div>
         </div>
      </div>
   </section>
{% endblock %}