{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.titulo }}{% endblock %}
{% block description %} {{post.contenido|truncatechars:150}} {% endblock %}
{% block content %}
<section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     {% if post.imagen.url %}
                     <img class="img-fluid" src="{{post.imagen.url}}" alt="post.titulo"> 
                     {% else %}<span class="text-muted">Sin imagen</span>{% endif %}
                     
                     <!-- DEUDA TECNICA: set tam img -->
                  </div>
                  <div class="blog_details">
                     <h1>
                        {{post.titulo}}
                     </h1>
                     {% if post.estado == 'borrador' and user.is_authenticated %}
                        {% if user == post.autor or user.is_superuser %}
                           <div class="alert alert-warning" role="alert">
                              <strong>Estás viendo un borrador.</strong> Este artículo no es visible para el público.
                           </div>
                        {% endif %}
                     {% endif %}
                     {% if user.is_authenticated and user == post.autor or user.is_superuser%}
                     <div class="author-actions mb-3">
                        <a href="{% url 'noticias:post_editar' post.pk %}" class="btn btn-sm btn-info">Editar Post</a>
                        <a href="{% url 'noticias:post_eliminar' post.pk %}" class="btn btn-sm btn-danger">Eliminar Post</a>
                     </div>
                     {% endif %}
                     <ul class="blog-info-link mt-3 mb-4"> <!-- DEUDA TECNICA: add href, ver si queda bien la fecha y categoria de esta forma-->
                        <li><a href="{% url 'apps.usuarios:perfil' post.autor.perfil.pk %}"><i class="fa fa-user"></i>{{post.autor.first_name}} {{post.autor.last_name}}</a></li>
                        <li><i class="fa fa-calendar"></i>{{ post.fecha_publicacion|date:"d M, Y" }}</li>
                        <li><i class="fa fa-tags"></i>{% for cat in categorias_post %}<a href="{% url 'noticias:posts_por_categoria' cat.pk%}">{{ cat.nombre }}{% if not forloop.last %}, {% endif %}{% endfor %}</a></li>
                     </ul>
                     <div class="post-body">{{ post.contenido|linebreaks }}</div>
                  </div>
               </div> <div class="social-share mt-4 mb-4">
                  <hr>
                  <h4>Compartir en:</h4>
                  <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ post.titulo }}" target="_blank" class="btn btn-info"><i class="fab fa-twitter"></i> Twitter</a>
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="btn btn-primary"><i class="fab fa-facebook"></i> Facebook</a>
                  <a href="https://api.whatsapp.com/send?text={{ post.titulo }}%20{{ request.build_absolute_uri }}" target="_blank" class="btn btn-success"><i class="fab fa-whatsapp"></i> WhatsApp</a>
                  <hr>
            </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <!-- <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                        people like this</p> Podemos agregar likes en el futuro-->
                     <!-- <div class="col-sm-4 text-center my-2 my-sm-0">
                        <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> {{ count_coment }} Comentario{% if count_coment != 1 %}s{% endif %}</p>
                     </div> -->
                     <!-- <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                     </ul> Deuda tecnica:Conectar las redes sociales -->
                  </div>
                  <div class="navigation-area"> <!-- DEUDA TECNICA: Determinar si filtrar por categoria y fecha_publicacion es el mejor criterio, un conviene simplificar y decir que 1 post tiene 1 sola categoria?-->
                     <div class="row">
                        {% if prev_post %}
                        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="{% url 'noticias:post_detail' prev_post.id %}">
                                 {% if prev_post.imagen.url %}
                                 <img class="img-fluid" width="60" height="60" src="{{prev_post.imagen.url}}" alt=""><!-- DEUDA TECNICA: Limitar el tamaño de las imagenes 60x60-->
                                 {% else %}<span class="text-muted">Sin imagen</span>{% endif %} 
                                  
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="{% url 'noticias:post_detail' prev_post.id %}">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Anterior</p>
                              <a href="{% url 'noticias:post_detail' prev_post.id %}">
                                 <h4>{{prev_post.titulo}}</h4>
                              </a>
                           </div>
                        </div>
                        {% endif %}
                        {% if next_post %} <!--DEUDA TECNICA: Cuando no hay noticia anterior se ve mal-->
                        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Siguiente</p>
                              <a href="{% url 'noticias:post_detail' next_post.id %}">
                                 <h4>{{next_post.titulo}}</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="{% url 'noticias:post_detail' next_post.id %}">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="{% url 'noticias:post_detail' next_post.id %}">
                                 {% if next_post.imagen.url %}
                                 <img class="img-fluid" width="60" height="60"  src="{{next_post.imagen.url}}" alt="next_post.titulo">
                                 {% else %}<span class="text-muted">Sin imagen</span>{% endif %} 
                                  <!-- DEUDA TECNICA: Limitar el tamaño de las imagenes 60x60-->
                              </a>
                           </div>
                        </div>
                        {% endif %}
                     </div>
                  </div>
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="{{perfil_autor.get_imagen_perfil_url}}" alt="{{post.autor.first_name}} {{post.autor.last_name}}"> <!-- DEUDA TECNICA: Si la img de perfil no es de dimensiones nxn se se estirada-->
                     <div class="media-body">
                        <a href="{% url 'apps.usuarios:perfil' post.autor.perfil.pk %}">
                           <h4>{{post.autor.first_name}} {{post.autor.last_name}}</h4>
                        </a>
                        <p>{{perfil_autor.biografia}}</p>
                     </div>
                  </div>
               </div>
               <div class="comments-area">
                  <h4>{{ count_coment }} Comentario{% if count_coment != 1 %}s{% endif %}</h4>
                  {% for comentario in comentarios %}
                  <div class="media mb-4" id="comentario-{{ comentario.id }}">
                     <img src="{{ comentario.usuario.perfil.imagen_perfil.url }}" alt="Avatar" class="d-flex mr-3 rounded-circle" width="50" height="50" style="object-fit: cover;">
                     <div class="media-body">
                        <div class="d-flex justify-content-between">
                              <div>
                                 <h5 class="mt-0">
                                    {% if comentario.eliminado %}
                                          <span class="text-muted"><a href="{% url 'apps.usuarios:perfil' comentario.usuario.perfil.id %}">{{ comentario.usuario.username }}</a></span>
                                    {% else %}
                                          <a href="{% url 'apps.usuarios:perfil' comentario.usuario.perfil.id %}">{{ comentario.usuario.username }}</a>
                                    {% endif %}
                                    <small class="text-muted">- {{ comentario.fecha_creacion|timesince }} atrás
                                          {% if comentario.editado and not comentario.eliminado %}
                                             (editado)
                                          {% endif %}
                                    </small>
                                 </h5>
                              </div>
            
                              {% if not comentario.eliminado and user.is_authenticated %}
                                 {% if user == comentario.usuario or user == comentario.post.autor or user.is_superuser %}
                                 <div class="dropdown">
                                    <button class="btn btn-sm btn-light" type="button" id="dropdownMenuButton-{{ comentario.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                          <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{ comentario.id }}">
                                          {% if user == comentario.usuario %}
                                          <li><a class="dropdown-item" href="{% url 'noticias:comentario_editar' comentario.pk %}">Editar</a></li>
                                          {% endif %}
                                          <li>
                                             <form action="{% url 'noticias:comentario_eliminar' comentario.pk %}" method="post" style="display: inline;">
                                                {% csrf_token %}
                                                <button type="submit" class="dropdown-item text-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar este comentario?');">Eliminar</button>
                                             </form>
                                          </li>
                                    </ul>
                                 </div>
                                 {% endif %}
                              {% endif %}
                        </div>

                        <p>{{ comentario.texto|linebreaks }}</p>
                     </div>
                  </div>
                  {% empty %}
                  <p>Todavía no hay comentarios. ¡Sé el primero!</p>
                  {% endfor %}
               </div>
               <div class="comment-form">
                  <h4>Deja un comentario</h4>
                  {% if user.is_authenticated %}
                  <form class="form-contact comment_form" action="{% url 'noticias:post_detail' post.id %}" method="post" id="commentForm">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              {{ comentario_form.texto }}
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Publicar Comentario</button>
                     </div>
                  </form>
                  {% else %}
                  <div class="login-prompt">
                     <p>Debes <a href="{% url 'apps.usuarios:login' %}?next={{ request.path }}"><b>iniciar sesión</b></a> para poder comentar.</p>
                     <p>¿No tienes una cuenta? <a href="{% url 'apps.usuarios:registrar' %}"><b>Regístrate aquí</b></a>.</p>
                  </div>
                  {% endif %}

                  {% if messages %}
                  <ul class="messages" style="list-style: none; padding-top: 15px;">
                     {% for message in messages %}
                     <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                     {% endfor %}
                  </ul>
                  {% endif %}
                  </div>
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <!-- <aside class="single_sidebar_widget search_widget">
                     <form action="#">
                        <div class="form-group">
                           <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder='Search Keyword'
                                 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                              <div class="input-group-append">
                                 <button class="btns" type="button"><i class="ti-search"></i></button>
                              </div>
                           </div>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Search</button>
                     </form>
                  </aside> PUEDE SER UNA MEJORA FUTURA-->
                  <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">Categorias</h4>
                     <ul class="list cat-list">
                        {% for cat in cat_count %}
                           <li>
                           <a href="{% url 'noticias:posts_por_categoria' cat.id%}" class="d-flex">
                              <p>{{cat.nombre}}</p>
                              <p>({{ cat.num_posts }})</p>
                           </a>
                           </li>
                           {% endfor %}
                     </ul>
                  </aside>
                  <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Noticias Recientes</h3>
                     {% for post in posts_recientes %}
                     <div class="media post_item">
                        {% if post.imagen.url %}
                           <img src="{{post.imagen.url}}" height="80" width="80" alt="post">
                        {% else %}<span class="text-muted">Sin imagen</span>{% endif %} <!-- DEUDA TECNICA: se ven estiradas las imagenes que no son cuadradas-->
                        <div class="media-body">
                           <a href="{% url 'noticias:post_detail' post.id%}">
                              <h3>{{ post.titulo }}</h3>
                           </a>
                           <p>{{ post.fecha_publicacion|date:"d M, Y" }}</p>
                        </div>
                     </div>
                     {% endfor %}
                  </aside>
                  <!-- <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="#">
                        <div class="form-group">
                           <input type="email" class="form-control" onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Subscribe</button>
                     </form>
                  </aside> DEUDA TECNICA: Implementar newsletter V2-->
               </div>
            </div>
         </div>
      </div>
   </section>
{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}